.theme-ms-lms-starter-theme .pmpro_checkout {
  margin-bottom: 20px; }
  .theme-ms-lms-starter-theme .pmpro_checkout hr {
    margin-top: 0;
    margin-bottom: 20px;
    border: 0; }

.theme-ms-lms-starter-theme #pmpro_billing_address_fields {
  margin-bottom: 20px; }

.theme-ms-lms-starter-theme .pmpro_checkout-field-bcountry select {
  min-width: 100%; }

.theme-ms-lms-starter-theme .pmpro-expiration-wrapper select {
  width: 48%;
  min-width: 48%; }

.theme-ms-lms-starter-theme #pmpro_form #pmpro_payment_information_fields .pmpro_payment-expiration {
  flex-direction: row;
  width: 50%;
  flex-wrap: wrap;
  vertical-align: top; }
  .theme-ms-lms-starter-theme #pmpro_form #pmpro_payment_information_fields .pmpro_payment-expiration select {
    width: 48%;
    min-width: 48%;
    background: #FFF;
    border: 1px solid #DCDEE3;
    border-radius: 4px;
    padding: 6px 12px;
    margin: 0;
    min-height: 1.5rem;
    height: 45px; }
